* {
	box-sizing: border-box;
}

body {
    background: url("minecraft.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    
    position: relative;
}

html, body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5em;
    text-align: center;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    background-color: light-gray;
    color: black;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}

#footer {
    align-items: center;
}
